@model Category

<form method="post" enctype="multipart/form-data">
    <p>Are you sure to delete this: @Model.Name?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/admin/category" class="btn btn-warning">Cancel</a>
</form>