@model RestabookWebApp.DTOs.ChangePasswordDTO
@{
    Layout = "_AuthLayout";
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Change Password!</h1>
                            </div>
                            <form class="user" method="post">
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="form-group">
                                    <input type="password" asp-for="CurrentPassword"
                                           class="form-control form-control-user"
                                           placeholder="Enter Current Password...">
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="NewPassword" class="form-control form-control-user"
                                           placeholder="Enter New Password...">
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="ConfirmNewPassword"
                                           class="form-control form-control-user"
                                           placeholder="Confirm New Password...">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Change
                                </button>
                                <a class="btn btn-success btn-user btn-block" href="/home/index">Go Home</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


