@model Article

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" id="editor1" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="PhotoPath" class="form-label">Image</label>
        <input type="file" name="file" accept="image/*" class="form-control">
        <span class="text-danger" asp-validation-for="PhotoPath"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="form-label">Categories</label>
        <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="form-control">
            <option selected disabled>Select a category</option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-label">Tags</label>
        <select name="tags" asp-items="ViewBag.Tags" multiple class="form-control">
            <option disabled>Select a tag</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IsActive" for="active">Is Active</label>
        <input type="checkbox" id="active" asp-for="IsActive">
    </div>
    <div class="text-center m-4">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
