@model AppUser
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> _userManager

<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h4>User Roles</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var userRoles = await _userManager.GetRolesAsync(Model);
                    foreach (var item in userRoles)
                    {
                        <tr>
                            <td>@item</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-role="@item"
                                   asp-route-userId="@Model.Id" class="btn btn-danger btn-sm" title="Delete Role">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>